<h2>Search Books</h2>

<form action="/books" method="GET" class="search-form">
    <label class="title">Title</label>
    <input type="search" class="search-input" name="title" value={{searchOptions.title}}>
    <button type="submit" class="btn search">Search</button>
</form>

<ul class="book-list">
    {{#each booksList}}
        <li class="book-items">
            <a href="/books/{{_id}}">
                <img height="250" width="200" src={{coverImagePath}} alt="{{title}}">
            </a>
        </li>
    {{/each}}
</ul>