<!-- Footer -->
<footer class="footer">

    <div class="footer-content">
        <h2>BookArray</h2>

        <div class="contact">
            <h4>Contact Us</h4>
            <p>+91 7460993630</p>
            <p>shubhrajit333@gmail.com</p>
        </div>

        <ul class="footer-list">
            <h4>Site</h4>
            <li><a class="footer-links" href="/books">Books</a></li>
            <li><a class="footer-links" href="/books/new">Add Book</a></li>
            <li><a class="footer-links" href="/authors">Authors</a></li>
            <li><a class="footer-links" href="/authors/new">Add Author</a></li>
        </ul>
    </div>

    <div class="footer-copyright ">© 2018 Copyright:
        <a href="/"> BookArray.com</a>
    </div>

</footer>
<!-- Footer -->