<nav class="navbar">
    <a href="/" class="nav-logo">BookArray</a>
    <ul class="nav-list">
        <li><a class="nav-links" href="/books">Books</a></li>
        <li><a class="nav-links" href="/books/new">Add Book</a></li>
        <li><a class="nav-links" href="/authors">Authors</a></li>
        <li><a class="nav-links" href="/authors/new">Add Author</a></li>
    </ul>
</nav>