<header>
    <nav class="navbar">
        <a href="/" class="nav-logo">BookArray</a>
        <ul class="nav-list">
            {{!-- <li class="nav-links"><a href="/authors">Books</a></li> --}}
            {{!-- <li class="nav-links"><a href="/authors">Add Book</a></li> --}}
            <li class="nav-links"><a href="/authors">Authors</a></li>
            <li class="nav-links"><a href="/authors/new">Add Author</a></li>
        </ul>
    </nav>
</header>