<h2>Edit Author</h2>

{{> errorMessage}}

<form action="/authors/{{author.id}}?_method=PUT" method="POST" class="form-author">
    {{> errorMessage}}
    <label>Name</label>
    <input type="text" name="name" value={{author.name}}>

    <a href="javascript:history.back()" class="btn cancel">Cancel</a>
    <button type="Submit" class="btn create">Update</button>
</form>