<div class="container">
    <div class="landing-cover">
        <h2>Add Author</h2>

        <form action="/authors" method="POST" class="form-author">
            {{> errorMessage}}
            <label class="author-name">Name</label>
            <input type="text" name="name" class="author-input" value={{author.name}}>

            <div>
                <a href="/authors" class="btn cancel">Cancel</a>
                <button type="Submit" class="btn create">Create</button>
            </div>
        </form>
    </div>
</div>